/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/.idea/
composer.phar
/app/config/parameters.yml
/app/config/parameters.yml.serveur

/web/uploads/images/Thumbs.db
/web/images/Thumbs.db
*.php~
web/uploads/images/dd3c63088ea01bde8cb765bd3ca6b67b.jpeg

