<div class="footer">
    <div class="well">
        <div class="container">
            <div class="row">


                <div class="col-sm-12 center">
                    &copy;2017 Projet 5 - NAO |
                    <a href="{{ path('legal_notice') }}">Mentions légales</a> |
                    <a href="#" data-toggle="modal" data-target="#modalContact" >Nous contacter</a> |
                    <a href="{{ path('learn_more') }}">Qui sommes-nous ?</a> |
                    <a href="fonctionnement">Fonctionnement</a> |
                    <a href="{{ path('landing') }}">Landing-page</a> |
                    <a href="#" class="fa fa-facebook-official" style="font-size:20px" aria-hidden="false"></a>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="cRetour"></div>
