{% block body %}
    <div id="mapForm" style="width:100%;height:400px;"></div>
{% endblock %}
{% block javascript %}
    <script>
        function initMap() {
            var latlng = new google.maps.LatLng(46.52863469527167, 2.43896484375);
            var map = new google.maps.Map(document.getElementById('mapForm'),

                {

                    zoom:5,
                    center: latlng,
                    matTypeId: google.maps.MapTypeId.ROADMAP,
                    streetViewControl: false,
                    mapTypeControl: false,

                    styles: [
                        {
                            "featureType": "administrative",
                            "elementType": "all",
                            "stylers": [  {  "saturation": "-100" } ]
                        },
                        {
                            "featureType": "administrative.province",
                            "elementType": "all",
                            "stylers": [ {  "visibility": "off" }  ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [  {  "saturation": -100  }, { "lightness": 65 }, { "visibility": "on" } ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [ { "saturation": -100  },   { "lightness": "50" },  {"visibility": "simplified" } ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "all",
                            "stylers": [ { "saturation": "-100"  }  ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "all", "stylers": [  { "visibility": "simplified" }  ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "all",
                            "stylers": [  {   "lightness": "30" } ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "all",
                            "stylers": [ { "lightness": "40" }]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "all",
                            "stylers": [ {"saturation": -100 },  { "visibility": "simplified" } ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [ {   "hue": "#ffff00"  }, {   "lightness": -25  },  { "saturation": -97 } ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels",
                            "stylers": [ {"lightness": -25 },  { "saturation": -100 } ]
                        }
                    ]

                       });

            var image = '{{ asset('images/gmap/crow2.png') }}'
            var marker = new google.maps.Marker({

                map: map,
                title: 'Bougez ce curseur',
                draggable: false,
                icon: image,
                draggable: true,
                position: latlng,
                anchorPoint: new google.maps.Point(0, -29),
                animation: google.maps.Animation.DROP,
            });


            google.maps.event.addListener(marker, 'drag', function () {
                setPosition(marker);
            });
            function setPosition(marker) {
                //retourne un objet de type lat lng
                var pos = marker.getPosition();
                $('#appbundle_observation_gpsLatitude').val(pos.lat());
                $('#appbundle_observation_gpsLongitude').val(pos.lng());
            }
        }

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIFTwKU0XQ4Nfvvw4kGW0QFARCbhffu-w&callback=initMap">
    </script>
{% endblock %}