{% extends "AppBundle::layout.html.twig" %}

{% block title %}En savoir plus{% endblock %}

{% block stylesheets %}
    <meta name="description" content="Rassemblant des passionnés de toute la France, notre association est un lieu d'échanges et d'actions pour l'étude et la protection des oiseaux." />
{% endblock %}

{% block body %}

<div class="container">

  <div class="well">
    <h3>L'association NAO</h3>
      <p>
        Fondé en octobre 2005, Nos Amis les Oiseaux  (NAO) est une association à but non lucratif (loi 1901)
        qui regroupe des amateurs d’ornithologie, ayant pour but d’échanger sur leur passion commune : les oiseaux.
        L’association vise également à étudier et protéger les oiseaux et les milieux dont ils dépendent ainsi
        qu’à rendre accessibles les informations et ressources ornithologiques aux observateurs d’oiseaux.
      </p>
  </div>

  <div class="well">
    <h3>La vie au sein de l’association</h3>
      <p> L’association est un lieu d'échange ou tous les passionnés d’ornithologie se retrouvent,
          qu'ils soient débutant ou connaisseur. L’ornithologie présente des aspects très divers.
          Pour cela, les membres se réunissent à l’association et se regroupent dans des ateliers
          en fonction de leurs centres d’intérêt. Chaque groupe dispose de son autonomie pour la
          gestion de ses rendez vous et de ses activités.
            </p>
        </div>
        <div class="well">
            <h3>Les activités au sein de l’association</h3>
            <h4> Nos actions se déclinent en 3 volets d’interventions :</h4>
<ul><li>Volet Science :
A l’aide de son réseau d’observateurs et de ses membres, l’association NAO participe à des études scientifiques
 dont le principal objectif est d’améliorer les connaissances sur la population aviaire.
Il s’agit essentiellement d’effectuer des inventaires et de suivis des populations ainsi que des aménagements d’habitats.</li>

<li>Volet Prévention :
L’association NAO participe à des actions de protection des oiseaux et de mise en valeur des écosystèmes
au niveau local et en collaborant avec des collectivités territoriales et d’autres associations ornithologiques.</li>

<li>Volet Education et Loisir :
L’association  propose également des animations d’information et de sensibilisation auprès du grand public
 afin de favoriser la découverte et l’étude de l’environnement dans un souci de protection et de conservation durable.
  L’organisation d’événements tels que des conférences, des expositions, des sorties sur le terrain, permet ainsi
  de mettre en valeur les oiseaux et leur environnement et de promouvoir l’observation des oiseaux en tant
  qu’activité de loisir.
  </li>
</ul>
        </div>

        <div class="well">
          <h3>Découvrez-nous</h3>
              <p>
                L’association est un lieu d'échange ou tous les passionnés d’ornithologie se retrouvent,
              qu'ils soient débutant ou connaisseur. L’ornithologie présente des aspects très divers.
              Pour cela, les membres se réunissent à l’association et se regroupent dans des ateliers
              en fonction de leurs centres d’intérêt. Chaque groupe dispose de son autonomie pour la
              gestion de ses rendez vous et de ses activités.
            </p>
        </div>

    </div>
{% endblock %}
