{% extends "AppBundle::layout.html.twig" %}

{% block title %}En savoir plus{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}



    <div class="container">

        <div class="well">
            <h3>Charte d'engagement</h3>
            <p>
              En validant votre inscription, vous vous engagez d’une part à respecter et ne pas diffuser
              (sauf autorisation de l’association NAO) les données accessibles depuis votre espace membre et,
              d’autre part, à saisir uniquement des observations sincères et véritables.<br>
              L’association Nos Amis les Oiseaux s’engage à utiliser et transmettre les données récoltées
              sur ce site à des fins d’études et de protection des oiseaux.
            </p>
        </div>
        <div class="well">
            <h3>Mentions légales</h3>
<p>
  <i>En naviguant sur notre site, l’internaute reconnaît avoir pris connaissance et accepté nos
  conditions générales d’utilisation.</i>
</p>

<ul><li><strong>Données personnelles :</strong></li>
<p>
  Les données personnelles qui peuvent vous être demandées (exclusivement en vue de recevoir notre newsletter et
  d’utilisation de l’espace membre) sont votre nom prénom et adresse e-mail.
  Vous pouvez faire valoir vos droits de consultation et de rectification en nous contactant à
  l’adresse suivante contact@asso-nao.fr
  Nous nous engageons à ne pas revendre ni donner ces informations qui ne sont pas conservées
  dès lors que vous demandez à ne plus recevoir notre newsletter.
</p>

<li><strong>Géolocalisation :</strong></li>

<p>
  L’Utilisateur est informé que le site peut utiliser avec son accord les technologies de géolocalisation
  afin de personnaliser l’utilisation de ses services.
  Les données collectées peuvent inclure des coordonnées GPS, l’adresse IP du terminal utilisé,
  ou des informations concernant le lieu où se trouve l’utilisateur lorsqu’il utilise le site.
  Les données GPS fournies par la Plateforme peuvent présenter une marge d’erreur ;
  l’association Nos Amis les Oiseaux n’est pas en mesure de garantir l’exactitude des données GPS,
  la vigilance des utilisateurs est alertée à cet égard.
</p>

<li><strong>Cookies :</strong></li>

<p>
  En vue d’améliorer notre site, nous utilisons Google Analytics qui est un outil
  « d'analyse d'audience Internet permettant aux propriétaires de sites Web et d'applications
  de mieux comprendre le comportement de leurs utilisateurs. Cet outil peut utiliser des cookies
  pour collecter des informations et générer des rapports sur les statistiques d'utilisation d'un
  site Web sans que les utilisateurs individuels soient identifiés personnellement par Google.<br>
  Outre la génération de rapports sur les statistiques d'utilisation d'un site Web, Google Analytics
  permet également, en association avec certains des cookies publicitaires décrits ci-dessus, d'afficher
  des annonces plus pertinentes sur les sites Google (tels que la recherche Google) et sur le Web. »
  https://www.google.fr/intl/fr/policies/technologies/types/
  Nous utilisons également les cookies nécessaires à l’amélioration de votre navigation sur notre
  site tenant compte exclusivement de votre navigateur.
</p>

<li><strong>Propriété intellectuelle :</strong></li>
<p>Le site web a été réalisé par l’agence Beez.
  Il est la propriété de l’association et ne peut faire l’objet de reproduction.
</p>
  <li><strong>Reproduction des informations :</strong></li>
<p>
  Il est interdit de publier, reproduire, ou rediffuser de quelques manière que ce soit tout ou
  partie du contenu du site Internet www.projet005.trukotop.com, qu'il soit sous forme de rédactionnel,
  de graphique ou d'image, sans l'autorisation expresse de l’association Nos Amis les Oiseaux.
</p>

<li><strong>Liens hypertextes :</strong></li>
<p>Le site www.projet005.trukotop.com peut contenir des liens hypertextes renvoyant à des pages
  ou des sites dont le contenu ne peut engager en rien l’association.
  Les liens hypertextes renvoyant vers notre site sont les bienvenus lorsqu’ils émanent de sites
  respectant la législation en vigueur."
</p>

<li><strong>Informations légales : </strong></li>
<p>
  Propriétaire : Association Nos Amis les Oiseaux - 8 bd de l'église 75125 paris - tél. 01 02 03 04 06
  Créateur : Agence Beez - 8 rue de Paris – 75150 paris - 	tél. 01 02 03 04 05
  Hébergeur : OVH - 2, rue Kellermann 59100 Roubaix
</p>
</ul>

        </div>
    </div>
{% endblock %}
